*{
    text-align: center;
}
html{
    background-image: url("https://conferences.lpu.in/icics/icics2018/imgs/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gigadiv{
    background: transparent;
    backdrop-filter: blur(5px);
    height: auto;
    border: 1px solid ghostwhite;
    border: 8px;
}
a{
    text-decoration: none;
    text-underline-offset: none;
    color: black;
}
.navbarOP h1{
    display: block;
    filter: blur(100%);
    color: antiquewhite;
    font-size: 5vw;
}
.navbarOP .a{
    border: 0px transparent;
    border-radius: 20%;
}
.navbarmen{
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}
.nvbr{
    display: flex;
}
.navbarOP{
    padding:60px 20px;
}
.Optns{
    display: flex;
    left: -5vw;
}
.opns{
     display: block;
     block-size: 14px;
}
input,textarea{
    background-color: rgb(156, 156, 219);
    border: 3px solid rgb(50, 50, 158);
}

/* CSS */
.button-85 {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 20px 50px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.palanquin-dark-regular {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.palanquin-dark-thin {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: large;
  }
.palanquin-dark-medium {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.palanquin-dark-semibold {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.palanquin-dark-bold {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 700;
  font-style: normal;
  
  border: 0px transparent;
  border-radius: 20%;
}
.bottom{
    display: flex;
    color: white;
    background-color: rgb(9, 9, 51);
    backdrop-filter: blur(10px);
    width: 100%;
    margin-bottom: -60vh;
    margin-right: -100vh;
}
.in-btm p{
padding: 20px 30px;
}
form,.in-btm {
    display: flex;
  flex-wrap: wrap;
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}